.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button,
.submit-button {
  width: 110px;
  height: 45px;
  border-radius: 7px;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.5s, background 0.5s, transform 0.5s;
  cursor: pointer;
  user-select: none;
}

.logout-button {
  position: absolute;
  left: 0;
  margin-left: 1.2rem;
  background: hsl(var(--primary-hue-sat) var(--lightness-6));
  color: hsl(var(--primary-hue-sat) var(--lightness-1));
}

.submit-button {
  background: hsl(var(--primary-hue-sat) var(--lightness-1));
  color: hsl(var(--primary-hue-sat) var(--lightness-6));
}

.logout-button:active,
.submit-button:active {
  transform: translateY(5px);
}
